 /** auction window **/
/** auction window is a dialog box that pops up when the user clicks on the auction card **/ 
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  font-family: 'Orbitron', sans-serif;
}

/* Modal container */
.auction-window {
  width: 600px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(164, 84, 255, 0.6);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
}

/* Close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff2e63;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 46, 99, 0.8);
}

/* Title */
.auction-title {
  font-size: 26px;
  font-weight: 700;
  color: #bc6ff1;
  margin-bottom: 20px;
  text-shadow: 0 0 5px #bc6ff1;
}

/* Info bar */
.auction-info-bar {
  background-color: rgba(188, 111, 241, 0.1);
  padding: 12px 24px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  color: #000000;
  border: 1px solid #bc6ff1;
}

/* Image styling */
.auction-image {
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(188, 111, 241, 0.3);
  margin: 1rem 0;
}

/* Item label */
.item-title {
  font-size: 18px;
  color: #bc6ff1;
  margin-bottom: 10px;
}

.auction-price-list {
  width: 100%;
  height: 100px;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow-y: auto;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  border: 1px dashed #313131;
}

.bid-form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.subscribe p{
  font-size:15px;
  padding-bottom: 90px;
}
